XTerm.termName: xterm-256color

Xterm.selectToClipboard: true
XTerm.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

Xterm.vt100.scrollbar: false
XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: DejaVu Sans Mono:style=Book:antialias=true
XTerm.vt100.faceSize: 9
